.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.toggle_wrapper {
  display: inline-flex;
  padding: 60px 0;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #47e4c1, #07cddd);
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toggle_wrapper--incorrect {
  background-image: linear-gradient(to bottom, rgba(250, 145, 97, 0.7), rgba(247, 59, 28, 0.69));
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}

.toggle_wrapper__item {
  width: 307px;
  height: 45px;
  border-radius: 100px;
  border: solid 1px #fbfbfb;
  margin: 0 200px 19px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.toggle_wrapper__validation {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: Muli;
  margin-top: 30px;
}

.toggle_wrapper__item::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 0;
  border-radius: 100px;
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 6px 1px rgba(0, 115, 101, 0.5);
  transition: left .3s ease;
}

.toggle_wrapper__item.active::before {
  left: 0;
}

.toggle_wrapper--incorrect .toggle_wrapper__item::before {
  background-color: rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 6px 1px rgba(195, 51, 51, 0.5);
}

.toggle_value {
  width: 79px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  width: 50%;
  position: relative;
  z-index: 10;
  transition: color .3s ease;
}

.toggle_wrapper__item .left,
.toggle_wrapper__item.active .right,
.toggle_wrapper--incorrect .toggle_wrapper__item.active .right {
  color: #fff;
}

.toggle_wrapper__item.active .left,
.toggle_wrapper__item .right {
  color: #00b093;
}

.toggle_wrapper--incorrect .toggle_wrapper__item.active .left,
.toggle_wrapper--incorrect .toggle_wrapper__item .right {
  color: #e66549;
}